<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>首页</title>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/jquery1.3.2.js"></script>
    <script src="/js/admin.js"></script>
</head>
<body>
<div>
    <div class="topbar-container">
        <a href="/" class="logo"><img src="/img/logo.png" style="height: 60px;float: left;border: 0"></a>
        <div style="float:left;font-weight: bold;font-size: 25px;line-height: 25px;margin-top: 35px;margin-left: 20px">后台管理</div>
        <a href="/blogs/publish"><div class="btn-new">+</div></a>
        <div class="clearFloat"></div>
    </div>
    <div class="seperator">数据库</div>
    <div>
        <input type="button" value="上传数据库" class="btn upload">
        <input type="button" value="下载数据库" class="btn download">
    </div>
    <div class="tip"></div>
</div>

</div>
</body>
</html>