<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Bat博客系统</title>
    <style type="text/css">
        <%- include ../../public/css/common.css%>
        <%- include ../../public/css/login.css%>
    </style>
</head>
<body>
<div>
    <div class="topbar-container bg">
        <a href="/" ><img src="/img/logo.png" class="logo" ></a>
        <div class="name">Bat&nbsp;博客系统</div>
        <div class="clearFloat"></div>
    </div>
    <form class="form-login" method="post" action="/">
        <input type="text"class="form-input user" placeholder="管理账号">
        <div class="line"></div>
        <input type="password" class="form-input passwd" placeholder="密码" >
        <input type="button" value="登 录" class="btn-login">
        <div class="tip"></div>
    </form>

</div>

<script src="/js/external/jquery1.3.2.js"></script>
<script src="/js/external/md5.js"></script>
<script type="text/javascript">
    <%- include ../../public/js/login.js%>
</script>

</body>
</html>