<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>欢迎使用Bat博客系统</title>
    <style type="text/css">
        <%- include ../../public/css/common.css%>
        <%- include ../../public/css/register.css%>
    </style>
</head>
<body>
<div  style="height: 100%;" class="bg">
    <div class="form-container">
        <div style="font-size: 24px;">
            <img class="logo" src="/img/logo.png">
            <span style="float: left;padding-top: 18px">&nbsp;Bat&nbsp;博客系统</span>
            <div class="clearFloat"></div>
        </div>
        <br>
       <div class="form-row">
           <div class="form-label">博客名称</div><div class="form-input"><input type="text" id="blogname" required autofocus></div>
       </div>
        <div class="form-row">
            <div class="form-label">姓&nbsp;&nbsp;名</div><div class="form-input"><input type="text" id="name"></div>
        </div>
        <div class="form-row">
            <div class="form-label">邮&nbsp;&nbsp;箱</div><div class="form-input"><input type="text" id="email"></div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-label">管理账号</div><div class="form-input"><input type="text" id="user"></div>
        </div>
        <div class="form-row">
            <div class="form-label">管理密码</div><div class="form-input"><input type="password" id="password"></div>
        </div>
        <br>
        <input class="btn-finish" type="button" value="设&nbsp;置&nbsp;完&nbsp;成" onclick="finish()">
        <div id="tip"></div>
    </div>

</div>

<script src="/js/external/jquery1.3.2.js"></script>
<script src="/js/external/md5.js"></script>
<script type="text/javascript">
    <%- include ../../public/js/register.js%>
</script>

</body>
</html>