
.seperator{
    color: gainsboro;
    padding: 10px;
    font-size: 12px;
}
.name {
    float: left;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    margin-top: 30px;
    margin-left: 30px
}
.topbar-container{
    width: 100%;
    height: 60px;
}
.logo{
    float: left;
    height: 100%;
    margin-left: 20px;
    border: none;
}

.btn-new{
    display: table;
    font-size: 40px;
    float: right;
    line-height: 15px;
    margin-top: 38px;
    margin-right: 30px;
    color: #666;
}
.btn-new:hover{
    cursor: pointer;
    color: #000;
}

.btn{
    display: inline-block;
    max-width: 100px;
    width: 100%;
    margin: 5px;
    border: none;
    outline: none;
    height: 40px;
    background: cornflowerblue;
    cursor: pointer;
}
.btn:hover{
    background: deepskyblue;
}

 .tag-item{
     margin: 5px;
     float: left;
     display: block;
 }
.tag-option{
    display: table;
    height: 20px;
    min-width: 80px;
}
.tag-option-item{
    border: 1px solid #aaa;
    background: #ddd;
    font-size: 12px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    color: #444;
}
.tag-option-item:hover{
    background: #eee;
    cursor: pointer;
    color: black;
}
.tag-name{
    display: table;
    width: 100%;
    background: lightgreen;
    padding: 3px;
    font-size: 18px;
    text-align: center;
}

.add-tag{
    font-weight: bold;
    font-size: 38px;
    background: #eee;
    padding-left: 10px;
    padding-right: 10px
}
.add-tag:hover{
    background: #ccc;
    cursor: pointer;
}
.content{
    width: 100%;
    height: 200px;
    overflow-y: auto;
}
.comment-container{
    display: table;
    padding: 5px;
    padding-right: 20px;
    /*border: 1px solid #aaa;*/
}
.brief{
    display: table;
    padding: 2px 5px;
    background: lightblue;
}
.brief:hover{
    text-decoration: underline;
    cursor: pointer;
}
.comment-item {
    display: inline-block;
    margin-bottom: 1px;
    margin-left: 12px;
}

#console{
    left: 0;
    bottom: 0;
    position: fixed;
    background: #111;
    font-size: 14px;
    color: white;
    text-align: left;
    padding: 5px;
    height: 150px;
    width: 100%;
    overflow-y: auto;
}
#comment-details{
    top: 0;
    left: auto;
    right: auto;
    position: fixed;
    width: 100%;
    padding: 10px;
    display: none;
    /*display: table;*/
}
.comment-details-bg{
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#comment-main-container{
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.comment-details-container {
    display: table;
    margin: auto;
    min-width: 400px;
    background: white;
    padding: 10px;
    margin-top: 50px;
}
.btn-close-comment{
    float: right;
    font-size: 18px;
}
.btn-close-comment:hover{
    cursor: pointer;
    font-weight: bold;
}
.comment-details-time{
    padding-bottom: 5px;
    display: inline;
}
.comment-details-title{
   padding-bottom: 5px;
    color: cornflowerblue;
}
.comment-details-title:hover{
    color: deepskyblue;
}
.comment-details-content{
   padding: 10px;
    border-top: 1px dashed #bbb;
    border-bottom: 1px dashed #bbb;
}
.comment-details-options{
    padding-top: 10px;
}
.comment-details-options span{
    font-size: 12px;
    color: #aaaaaa;
}
.comment-details-options span:hover{
    color: black;
    cursor: pointer;
}
.textarea-replay{
    width: 100%;
    height: 100px;
    border: 1px solid #aaa;
    outline: none;
    margin-top: 10px;
    overflow-y: auto;
}
.btn-replay{
    float: right;
    border: none;
    outline: none;
    width: 100px;
    height: 30px;
    background: cornflowerblue;
}
.btn-replay:hover{
    cursor: pointer;
    background: deepskyblue;
}
.comment-details-options span{
    padding: 10px;
}
.more-blogs-container{
    display: none;
    text-align: center;
    padding-left: 10px;
}
.btn-more{
    padding: 3px;
    display: table;
    color: #333;
    background: antiquewhite;
}
.btn-more:hover{
    cursor: pointer;
    background: navajowhite;
}
@media(max-width: 800px){
    .logo{
        margin-left: 10px
    }
    .name{
        margin-left: 10px;
    }
    .btn-new{
        margin-right: 10px;
    }
}