* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;/*允许长单词换行到下一行：*/
    /*word-break:break-all; /!*任意*!/*/
    font-family: "Microsoft YaHei", Verdana, sans-serif, "SimSun";
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 14px;
    overflow-x: hidden;
}
a{
    color: black;
    outline: none;
    text-decoration: none;
}
textarea{
    resize: none;
}
.clearFloat{
    float: none;
    clear: both;
}
.bg{

    /*background: #add8e6;*/

    /*border-bottom: 1px solid #eee;*/
    background:-moz-linear-gradient(top,#add8e6,#fefefe);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#add8e6), to(#fefefe));
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#add8e6', endColorstr='#fefefe');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#add8e6', endColorstr='#fefefe')";
    background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #add8e6),color-stop(1, #fefefe));
}

.top-text{
    color: red;
    font-size: 12px;
    font-weight: normal;
}

.global-text-size{
    font-size: 16px;
    line-height: 25px;
}
/*圆角*/
.border-corner{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}