.topbar-container{
    width: 100%;
    height: 60px;
}
.logo{
    float: left;
    height: 100%;
    margin-left: 20px;
}

.btn-list{
    margin-left: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    float: left;
    width: 80px;
    height: 50%;
    color: white;
    background: black;
    margin-right: 20px;
}
.btn-list:hover{
}
.btn-new{
    display: table;
    font-size: 40px;
    float: right;
    line-height: 15px;
    margin-top: 38px;
    margin-right: 30px;
    color: #666;
}
.btn-new:hover{
    cursor: pointer;
    color: #000;
}

.main-container{
    display: table;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    width: 100%;
}


.blog-item{
    width: 100%;
    height: auto;
    /*background: bisque;*/
    padding: 20px;
    border-bottom: 1px solid antiquewhite;
}
.blog-title{
    display: inline-block;
    font-size: 22px;
    font-weight: bolder;
    min-width: 150px;
    color: #333;
}
.blog-title:hover{
    /*font-weight: bolder;*/
    /*text-decoration: underline;*/
    color: #000;
}
.top:hover{
    text-decoration: none;
}
.blog-brief{
    padding-top: 10px;
}
.blog-details{
    padding-top: 10px;
    color: grey;
}
.blog-tags{
    padding-right: 10px;
}
.blog-time{
    padding-left: 10px;
}

.other-tags-container{
    float: left;
    display: table;
    padding-left: 10px;
}
.tag-item{
    margin-left: 3px;
    margin-top: 3px;
    padding: 8px 10px 8px 10px;
    background: lightgreen;
    display: table;
    float: left;
}
.tag-item:hover{
    background: green;
}
.tags-container{
    margin-top: 20px;
    width: 100%;
    border-bottom: 5px solid green;
}
.cur-tag{
    float: left;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 20px;
    padding: 8px 15px 8px 15px;
    background: green;
    display: table;
    text-align: center;
}
.more-blogs-container{
    text-align: center;
    padding: 35px;
}
.btn-more{
    padding: 10px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    background: antiquewhite;
}
.btn-more:hover{
    cursor: pointer;
    background: navajowhite;
}
@media(max-width: 800px){
    .logo{
        margin-left: 10px
    }
    .btn-list{
        margin-left: 10px;
    }
    .btn-new{
        margin-right: 10px;
    }
    .blog-item{
        padding-left: 10px;
        padding-right: 10px;
    }
}