* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word; /*允许长单词换行到下一行：*/
    /*word-break:break-all; /!*任意*!/*/
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "Microsoft YaHei", Verdana, sans-serif, "SimSun";
}

a {
    color: black;
    outline: none;
    text-decoration: none;
}

.clearFloat {
    clear: both;
}

.name {
    float: left;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    margin-top: 30px;
    margin-left: 30px
}

.topbar-container {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    background:-moz-linear-gradient(top,#add8e6,#fefefe);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#add8e6), to(#fefefe));
    background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #add8e6),color-stop(1, #fefefe));
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#add8e6', endColorstr='#fefefe');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#add8e6', endColorstr='#fefefe')";

}

.logo {
    float: left;
    height: 100%;
    margin-left: 20px;
    border: none;
}

.form-login {
    margin: auto;
    margin-top: 150px;
    display: table;
    max-width: 300px;
    width: 100%;
    padding: 10px;
}

.form-input {
    display: block;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    padding: 5px;
    line-height: 45px;
    font-size: 16px;
    background: transparent;
    color: #aaa;
}

.tip {
    padding: 5px;
    padding-top: 10px;
    color: red;
}

.passwd {
    color: black;
}

.btn-login {
    margin-top: 5px;
    border: none;
    outline: none;
    background: cornflowerblue;
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}

.btn-login:hover {
    background: deepskyblue;
}

.line {
    width: 100%;
    height: 2px;
    background: #ddd;
}

@media (max-width: 800px) {
    .logo {
        margin-left: 10px
    }

    .name {
        margin-left: 10px;
    }
}